$full
    bottom 0
    left 0
    position absolute
    right 0
    top 0

.landmark-annotator
    display flex
    flex-flow column nowrap
    font-family 'Roboto'
    font-size 16px
    line-height 100%
    height 100vh
    width 100%

    &__landmarks-and-image-container
        display flex
        flex 1 1 auto

    &__landmarks-container
        flex 0 0 20vw
        padding 10px

    &__landmarks-list
        display flex
        flex-flow column nowrap
        list-style none inside

        &-item
            display flex
            justify-content space-between
            padding 8px

    &__radio-text
        margin-right 1ex

    &__image-container
        background-color #BBB
        flex 1 1 auto
        position relative

    &__interactable-area
        @extend $full

    &__point
        height 1vmin
        transform translate(-50%, -50%)
        position absolute
        width 1vmin

    &__image
        @extend $full
        max-height 100%
        max-width 100%

    &__points
        flex 0 0 15vh
        padding 1vmin

    &__points-list
        list-style none inside

    &__points-title
        font-size 20px
        font-weight bold
        line-height 1
        margin-bottom 1vmin

    &__button
        background-color white
        border 1px solid black
        display block
        font-size 18px
        margin auto
        padding 6px

        &:hover
        &:focus
            background-color greenyellow